<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Xem phim trực tuyến</title>
    <link rel="stylesheet" href="../static/styles/about.css">
</head>
<body>
<header class="header">
        <div class="container">
            <div class="logo">
                <img src="../static/image/logo.png" alt="MovieWeb">
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Phim mới</a></li>
                    <li><a href="#">Phim bộ</a></li>
                    <li><a href="#">Pim lẻ</a></li>
                    <li><a href="#">Thể loại</a></li>
                    <li><a href="#">Quốc gia</a></li>
                    <li><a href="#">Phim chiếu rạp</a></li>
                    <li><a href="#">Phim thuyết minh</a></li>
                </ul>
            </nav>
            <div class="search-box">
                <input type="text" placeholder="V.d: tên phim, tên diễn viên...">
                <button>🔍</button>
            </div>
            <div class="user-options">
                <a href="#">Đăng nhập</a>
                <a href="#">Đăng ký</a>

            </div>
        </div>
    </header>
    <h1>Phim đang chiếu:</h1>
    <iframe width="800" height="450"
        src="https://www.youtube.com/embed/{{ video_id }}"
        frameborder="0" allowfullscreen>
    </iframe>
<div class="comment-section">
           <h2>Bình Luận</h2>

    <!-- Form nhập bình luận -->
    <form id="commentForm" action="/add_comment" method="POST">
        <input type="text" name="filmId" id="filmId" hidden value="{{movie.id}}">
        <input type="text" name="title" id="title" hidden value="{{movie.title}}">
        <textarea id="comment" name="content" placeholder="Nhập bình luận" required></textarea>
        <button type="submit">Gửi</button>
    </form>

    <h3>Bình luận gần đây:</h3>
    <div id="comments"></div>
    {%for comment in comments%}
        {{comment.user.name}}
        {{comment.content}}
        <br>
    {%endfor%}
</div>
<script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>
