<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieWeb - Trang chủ</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
     <header class="header">
        <div class="container">
            <div class="logo">
                <img src="../static/image/logo.png" alt="MovieWeb">
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Phim mới</a></li>
                    <li><a href="#">Phim bộ</a></li>
                    <li><a href="#">Pim lẻ</a></li>
                    <li><a href="#">Thể loại</a></li>
                    <li><a href="#">Quốc gia</a></li>
                    <li><a href="#">Phim chiếu rạp</a></li>
                    <li><a href="#">Phim thuyết minh</a></li>
                </ul>
            </nav>
            <div class="search-box">
                <input type="text" placeholder="V.d: tên phim, tên diễn viên...">
                <button>🔍</button>
            </div>
            <div class="user-options">
                <a href="#">Đăng nhập</a>
                <a href="#">Đăng ký</a>

            </div>
        </div>
    </header>



    <section class="top-movies">
        <h2>Top 5 phim hôm nay</h2>
        <div class="movie-list">
            <img src="../static/image/movie1.jpg" alt="Phim 1">
            <a href="/infor">
                <img src="../static/image/movie2.jpg" alt="Phim 2">
            </a>

            <img src="../static/image/movie3.jpg" alt="Phim 3">
            <img src="../static/image/movie1.jpg" alt="Phim 4">
            <img src="../static/image/movie5.jpg" alt="Phim 5">
        </div>
    </section>

    <section class="special-movies">
        <h2>Phim Thuê Đặc Sắc</h2>
        <div class="movie-list">
            <img src="../static/image/movie1.jpg" alt="Phim đặc sắc 1">
            <img src="../static/image/movie2.jpg" alt="Phim đặc sắc 2">
            <img src="../static/image/movie3.jpg" alt="Phim đặc sắc 3">
            <img src="../static/image/movie5.jpg" alt="Phim đặc sắc 4">
        </div>
    </section>

    <section class="categories">
        <h2>Danh mục phim</h2>
        <div class="category-list">
            <div class="category">Hành động</div>
            <div class="category">Kinh dị</div>
            <div class="category">Hoạt hình</div>
            <div class="category">Tài liệu</div>
            <div class="category">Khoa học viễn tưởng</div>
        </div>
    </section>

    <section class="ranking">
        <h2>TOP PHIM ĐẶC SẮC</h2>
        <div class="rank-list">
            <div class="rank-item" style="color: red;">1</div>
            <div class="rank-item" style="color: yellow;">2</div>
            <div class="rank-item" style="color: blue;">3</div>
        </div>
    </section>

    <footer>
        <p>Bản quyền &copy; 2025 MovieWeb</p>
    </footer>
</body>
</html>
