<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ movie.title }} - MovieWeb</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/infor.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <img src="{{ url_for('static', filename='image/logo.png') }}" alt="MovieWeb">
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="{{ url_for('home') }}">Trang chủ</a></li>
                    <li><a href="#">Phim mới</a></li>
                    <li><a href="#">Phim bộ</a></li>
                    <li><a href="#">Phim lẻ</a></li>
                    <li><a href="#">Thể loại</a></li>
                </ul>
            </nav>
            <div class="user-options">
                <a href="{{ url_for('login') }}">Đăng nhập</a>
                <a href="{{ url_for('register') }}">Đăng ký</a>
            </div>
        </div>
    </header>
    <main class="main-content" >
        <div class="movie-detail">
    <div class="movie-main-info" style="background-image: url('{{ movie['poster'] }}');">
        <div class="overlay"></div> <!-- Lớp phủ mờ -->
        <div class="content">
            <h1>{{ movie['title'] }}</h1>
            <img src="{{ movie['poster'] }}" alt="{{ movie['title'] }}">
            <p><strong>Thể loại:</strong> {{ movie['genre'] }}</p>
            <p><strong>Mô tả:</strong> {{ movie['description'] }}</p>
            <p><strong>Diễn viên:</strong> {{ movie['actor'] }}</p>
            <p><strong>Ngày phát hành:</strong> {{ movie['release_date'] }}</p>
            <p><strong>Đánh giá:</strong> {{ movie['rate'] }}</p>
        </div>
    </div>

    <h3>Phim tương tự</h3>
    <div class="similar-movies">
        {% for similar_movie in similar_movies %}
            <div class="similar-movie">
                <a href="{{ url_for('movie_detail', title=similar_movie['title']) }}">
                    <img src="{{ similar_movie['poster'] }}" alt="{{ similar_movie['title'] }}">
                    <h4>{{ similar_movie['title'] }}</h4>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

    </main>
    <footer>
        <div class="container">
            <p>Bản quyền © 2023 MovieWeb</p>
        </div>
    </footer>
</body>
</html>